*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-12rem);
  }
  90% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(12rem);
  }
  90% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

.App {
  height: 100vh;
  text-align: center;
  background: linear-gradient(#83eb6e, #5dc6f0);
  overflow-y: scroll;
}

.App-nav-li {
  display: flex;
  justify-content: space-around;
  background-color: rgb(58, 56, 56);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.App-nav-li li {
  list-style: none;
}

.App-nav-li li a {
  color: aliceblue;
  text-decoration: none;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
  padding: 5rem 0;
}
.pagination .page-num {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 300px;
}
.pagination .page-num:hover {
  background-color: #4e49da;
  color: #fff;
}
.pagination .active {
  background-color: #4126e1;
}

.repo {
  display: flex;
  flex-direction: column;
  background-color: #4169e1;
  margin: 1rem 1rem;
  padding: 3rem;
  border-radius: 10px;
  color: #fff;
}

.repo-link {
  text-decoration: none;
  color: rgb(22, 226, 66);
  padding-top: 0.8rem;
  transition: all 1s;
}

.repo-link:hover {
  color: rgb(6, 247, 58);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
}

.welc {
  color: rgb(26, 40, 243);
  animation: moveInLeft 2s ease;
}

.name {
  color: rgb(26, 45, 243);
  animation: moveInRight 2s ease;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  font-size: 3rem;
  margin-top: -5rem;
  font-weight: bold;
}

.back-link {
  text-decoration: none;
  color: rgb(245, 214, 12);
  padding-top: 1rem;
  transition: all 1s;
}

.errorMessage {
  color: red;
  font-size: 5rem;
}

@media screen and (min-width: 800px) {
  .repoContainer {
    display: flex;
    justify-content: center;
  }
  .repo {
    min-width: 40rem;
  }
}
